/* ==========================================================================
   Styleguide
   ========================================================================== */
   
   /* Geral
      ========================================================================== */
      body {
         font-family: Arial, Helvetica, sans-serif;
      }

      a {
         color: #4183C4;
      }
      .container {
         width: 96%;
         padding: 20px 2% 0;
         overflow: hidden;
      }

      .container > h1 {
         margin: 0 0 20px 0;
         display: block;
         overflow: hidden;
         color: #333;
         letter-spacing: -1px;
         border-bottom: solid 1px #ccc;
      }

      .container > h1 span {
         float: left;
      }

      .container > h1 span + span {
         color: #333;
         float: right;
         padding-right: 3px;
      }

      .condensed { margin-bottom: 10px; }

      h2 { font-size: 26px; }
      h3 { font-size: 22px; }
      h4 { font-size: 20px; color: #999; }
      h5 { font-size: 16px; font-style: italic; margin-bottom: 10px; }

      .about ul,
      p {
         color: #767676;
         font-size: 14px;
         line-height: 20px;
         margin-bottom: 15px;
      }

      .about ul {
         list-style-position: inside;
      }


   /* Menu lateral
      ========================================================================== */
      .styleguide-side {
         position: fixed;
         float: left;
         width: 13%;
         margin-right: 1%;
         padding: 3px;
         background: #deefff;
      }

      .styleguide-menu {
         margin: 0;
         padding: 0;
         background: #fafafb;
         border: 1px solid #d8d8d8;
         list-style: none outside none;
      }

      .styleguide-menu li:first-child { border-top: none; }
      .styleguide-menu li { 
         border-bottom: 1px solid #eee;
         border-top: 1px solid #fff;
      }

      .styleguide-menu a {
         display: block;
         padding: 8px 10px;
         text-shadow: 0 1px 0 #fff;
         font-size: 14px;
         color: #4183C4;
         text-decoration: none;
         border-left: 2px solid #DDD;
      }

      .styleguide-menu a:hover { 
         background: #fdfdfe;
      }

      .styleguide-menu .selected {
         background: #fff;
         border-left: 2px solid #4183C4;
         box-shadow: 0 0 1px rgba(0, 0, 0, 0.1) inset;
         color: #222222;
         cursor: default;
         font-weight: bold;
      }

   /* Conteudo
      ========================================================================== */
      .styleguide-content {
         float: right;
         width: 85%;
      }

      .title-module {
         font-family: sans-serif;
         letter-spacing: -1px;
         font-weight: bold;
         font-size: 24px;
         color: #666;
         border-bottom: solid 1px #ccc;
      }

      /* Box de exemplo */
      .styleguide-title {
         margin-top: 0;
         padding-bottom: 8px;
         border-bottom: 1px solid #EEEEEE;
         color: #5a5a5a;
      }

      .styleguide-example {
         margin-bottom: 20px;
         border: 1px solid #ddd;
      }

      .title-example {
         background-color: #f5f5f5;
         color: #999;
         padding: 5px 15px;
         margin: 0 0 15px;
         font-size: 18px;
      }

      .styleguide-example p {
         padding-left: 15px;
         padding-right: 15px;
      }

      /* Box de visualizacao */
      .styleguide-demo {
         position: relative;
         padding: 20px;
         font-size: 100%;
         background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAAXNSR0IArs4c6QAAAAZQTFRF+vr6////+o8bnQAAABBJREFUCB1jYPjPgBXhEAYAfr8P8bm+jEoAAAAASUVORK5CYII=);
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
         overflow: visible;
      }

      .styleguide-demo:before,
      .styleguide-demo:after {
         content:"";
         display:table;
      }

      .styleguide-demo:after { clear:both; }

      .about p,
      .about ul {
         padding: 0 20px;
      }

   /* Box HTML
      ========================================================================== */
      .simple-code { margin-bottom: 20px; }
      .styleguide-code { font-size: 14px; }

      .com { color: #93A1A1; }
      .lit { color: #195F91; }
      .pun,
      .opn,
      .clo { color: #93A1A1; }
      .fun { color: #DC322F; }
      .str, .atv { color: #DD1144; }
      .kwd, .prettyprint .tag { color: #1E347B; }
      .typ, .atn, .dec, .var { color: teal; }
      .pln { color: #48484C; }

      .prettyprint {
         background-color: #F7F7F9;
         border-top: 1px solid #E1E1E8;
         padding: 8px;
      }

      .prettyprint.linenums {
         box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #ECECF0 inset;
      }

      ol.linenums {
         margin: 0 0 0 33px;
      }

      ol.linenums li {
         color: #BEBEC5;
         line-height: 20px;
         padding-left: 12px;
         text-shadow: 0 1px 0 #FFFFFF;
      }


      /*.styleguide-code pre { display: none; }*/

      pre { margin: 0; }

      .linenums { 
         padding: 0;
         list-style-type: decimal;
      }

      .styleguide-color {
         margin-bottom: 5px;
         padding: 20px;
         color: #fff;
         font-weight: bold;
         border-radius: 3px;
      }

      .styleguide-info {
         padding: 10px;
         background-color: #F7F7F9;
         border-top: solid 1px #E1E1E8;
      }

      .styleguide-info .styleguide-demo { display: none; }
      .styleguide-info .styleguide-code { margin-bottom: 20px; }
      .styleguide-info .styleguide-code:last-child { margin-bottom: 0; }

      code, pre {
         border-radius: 3px 3px 3px 3px;
         color: #333333;
         font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
         font-size: 12px;
         padding: 0 3px 2px;
         }

      code {
         background-color: #F7F7F9;
         border: 1px solid #E1E1E8;
         color: #DD1144;
         padding: 2px 4px;
         white-space: nowrap;
      }
