/* #Header */
#top{ padding: 10px 0 0 0; height: 39px; overflow: hidden;}
#logo h2{
	text-transform:uppercase;
	font-weight:bold;
	font-family: 'AllerBold';
	font-size: 18px;
	font-weight: normal;
	letter-spacing: -1px;
	margin: 0;
}
#logo h2 a {
	color: #333;
	display: block;
	height: 20px;
	padding: 3px 0 10px 18px;
	text-decoration: none;
	outline:none;
}
#logo h2 a span {color: #999;}

/* Logo Cima */
#logo.cima h2 a { color: #4f4c4c; }
#logo.cima h2 a span {color: #fff;}

/* Logo Spec */
#logo.spec h2 a { color: #282727; }
#logo.spec h2 a span {color: #fdfafa;}

/* Tools */
#tools ul {
	display: block;
	float: right;
	height: 24px;
	list-style: none outside none;
	margin: 0 -20px 0 0;
	padding: 5px 0 0 0;
}
#tools ul li {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}
#tools ul li.item04{margin:0;}
#tools ul li a {
	display: inline-block;
	float: left;
	height: 20px;
	width: 20px;
	outline:none;
	line-height:0; 
	font-size:0;
}


