<footer class="row full footer-bar gde-footer" role="contentinfo">
   <address class="vcard"> 
      <span>
         <span class="org fn">Secretaria da Educação do Estado de São Paulo</span>
      </span>
      <span class="adr">
         - 
         <span class="street-address">Praça da República, 53 - Centro</span> -
            CEP <span class="postal-code">01045-903</span> - 
            <span class="locality">São Paulo</span> -
            <abbr title="São Paulo" class="region">SP</abbr> -
            <span class="country-name">Brasil</span> - 
            <span class="tel">PABX: (011) 3218-2000</span>
      </span>        
   </address>
   <a href="http://www.saopaulo.sp.gov.br" class="hover logo-footer">
      <img src="http://www.educacao.sp.gov.br/gde/img/logo_gov.png" alt="Logo do do Governo do Estado de São Paulo">
   </a>
</footer>