   <!-- <nav class="styleguide-side" role="navigation">
   <ul class="styleguide-menu">
      <li class="item-conteudo">
         <a href="/conteudo"><i class="icon-book"></i> Conteúdo</a>
         <ul class="styleguide-submenu">
            <li>
               <a href="#">Sobre!</a>
            </li>
         </ul>
      </li>
      <li>
         <a href="/interface"><i class="icon-coffee"></i> Front-End</a>
         <ul class="styleguide-submenu">
            <li>
               <a href="#">Em breve!</a>
            </li>
         </ul>
      </li>
   </ul>
</nav> -->
<nav class="styleguide-side" role="navigation">
   <ul id="styleguide-menu" class="styleguide-menu">
      <!-- Sobre -->
      <li class="menu-sobre"><a href="/sobre/"><i class="icon-lightbulb"></i> Sobre</a>
         <ul class="styleguide-submenu">         
            {% for page in site.pages %}
               {% if page.body_class == 'sobre' %}
                     {% if page.page_type == 'child' %}
                        <li>
                           <a href="{{ page.url }}"><i class="icon-double-angle-right"></i>{{ page.title }}</a>
                        </li>
                     {% endif %}
                  
               {% endif %}
          {% endfor %}
          </ul>
      </li>
      <!-- Conteúdo -->
      <li class="menu-conteudo"><a href="/conteudo/"><i class="icon-book"></i> Conteúdo</a>
         <ul class="styleguide-submenu">         
            {% for page in site.pages %}
               {% if page.body_class == 'conteudo' %}
                     {% if page.page_type == 'child' %}
                        <li>
                           <a href="{{ page.url }}"><i class="icon-double-angle-right"></i>{{ page.title }}</a>
                        </li>
                     {% endif %}
                  
               {% endif %}
          {% endfor %}
          </ul>
      </li>
      <!-- Interface -->
      <li class="menu-interface"><a href="/interface/"><i class="icon-coffee"></i> Interface</a>
         <ul class="styleguide-submenu">         
            {% for page in site.pages %}
               {% if page.body_class == 'interface' %}
                     {% if page.page_type == 'child' %}
                        <li>
                           <a href="{{ page.url }}"><i class="icon-double-angle-right"></i>{{ page.title }}</a>
                        </li>
                     {% endif %}
                  
               {% endif %}
          {% endfor %}
          </ul>
      </li>
      
   </ul>
</nav>