/* ==========================================================================
   Botões
   ========================================================================== */
   
   @media only screen {

      /* Padrão
         ========================================================================== */
         .btn {
            display: inline-block;
            min-height: 28px;
            margin-bottom: 0;
            padding: 4px 70px;
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background: $gray;
            border: none;
            @include border-radius(5px);
            @include transition(all .25s ease);
            @include box-sizing();
         }

          .ie7 .btn {
            zoom: 1;
            display: inline;
            margin-left: .3em;
            line-height: 18px;
         }

         .ie7 a.btn { min-height: 14px; }


         .ie7 button.btn,
         .ie7 input[type="submit"].btn {
            padding-top: 3px;
            padding-bottom: 3px;
         }

         .btn:hover {
            background-color: $darkGray;
            color: #fff;
            text-decoration: none;
         }

      /* Tamanhos
         ========================================================================== */
         .btn-small {
            padding-left: 45px;
            padding-right: 45px;
         }

         .btn-mini {
            padding-left: 10px;
            padding-right: 10px;
         }

         .btn-large {
            padding-left: 150px;
            padding-right: 150px;
         }

         .btn-block {
            width: 100%;
            margin-bottom: 10px;
            display: block;
            padding-right: 0;
            padding-left: 0;
         }


      /* Cor padrão
         ========================================================================== */
         .btn-default {
            background-color: $almostWhite;
            border: solid 1px #ccc;
            color: $darkGray;
         }

         .btn-default:hover {
            color: $darkGray;
            background-color: #eee;
         }

      /* Cor educação
         ========================================================================== */
         .btn-educacao {
            background-color: $colorEducacao;
            color: #fff;
         }

         .btn-educacao:hover { background-color: darken($colorEducacao, 15%); }

      /* Botão com linha (100% da largura)
         ========================================================================== */
         .line { 
            position: relative;
            text-align: center;
         }

         .ie7 .line {
            background: transparent url(../img/bg-line-light.png) center 30% repeat-x;
         }

         .line:after {
            z-index: 0;
            content: '';
            position: absolute;
            top: 35%;
            width: 100%;
            display: block;
            border-top: solid 1px #ccc;
         }

         .btn-line {
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
            text-transform: uppercase;
            margin-bottom: 15px;
            z-index: 1;
            border: solid 1px #ccc;
         }


      
   }