/* ==========================================================================
   Navegacao
   ========================================================================== */
   
   @media only screen {
      
      /* Header
         ========================================================================== */
         /* Barra local
            ========================================================================== */
            .local-bar {
               width: 94%;
               padding: 10px 3%;
               display: block;
               background-color: $gray;
               text-align: center;
            }

            .local-bar a { 
               color: #fff;
               @include transition(all .25s ease);
            }

            .local-bar a:hover { 
               color: #eee;
               text-decoration: none;
            }
            
            /* Título da barra - Secretaria da Educação */
            .title-bar a {
               display: block;
               margin-bottom: 10px;
            }

            .title-bar a:hover { text-decoration: none; }

            /* Bloco de contato - Barras sociais e telefone */
            .social a {
               font-size: 22px;
               margin: 0 5px;
            }

            .contact {
               display: block;
               width: 195px;
               margin: 10px auto 0;
               font-family: 'AllerBold';
               font-size: 12px;
               text-align: left;
            }

            .contact > i {
               font-size: 26px;
               float: left;
               margin-right: 10px;
            }

            .contact > span {
               display: block;
               text-transform: uppercase;
               line-height: 1;
            }

            .contact > span + span {
               font-size: 11px;
               text-transform: none;
               text-indent: 1px;
               line-height: 0.9;
            }

         /* Logo
            ========================================================================== */
            .logo { margin: 0 0 5px 0; }

            .logo small {
               font-weight: normal;
               display: block;
               text-transform: uppercase;
               font-size: 12px;
            }

            .logo a {
               color: #f5f5f5;
               @include transition(all .25s ease);
            }

            .logo a:hover {
               color: #ddd;
               text-decoration: none;
            }

         /* Barra acessibilidade
            ========================================================================== */
            .tools a {
               display: inline-block;
               padding: 3px;
               color: $gray;
               font-family: 'AllerBold';
               @include transition(all .25s ease);
            }

            .tools a:hover {
               color: $darkGray;
               text-decoration: none;
            }

      /* Footer
         ========================================================================== */
         .footer-bar {
            width: 98%;
            padding: 15px 1%;
            background-color: $gray;
            font-weight: bold;
            font-size: 12px;
            font-family: Arial,Helvetica,sans-serif;
            text-align: center;
            overflow: hidden;              
         }

         .vcard { font-style: normal; }

         .org.fn { 
            color: #fff;
            font-weight: bold;
         }

         .adr {
            color: #ccc;
            letter-spacing: -1px;
         }

         .logo-footer {
            margin-top: 10px;
            display: block;
         }

      /* Menus
         ========================================================================== */

         /* Navegação primária (menu principal)
            ========================================================================== */
            .navbar {
               border-bottom: 4px solid $gray;
               overflow: visible;
               width: 100%;

               background: #fefefe;
               background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%);
               background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
               background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%);
               background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%);
               background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%);
               background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%);
               filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
            }

            .nav-menu {
               margin: 0;
               padding: 0;
               border: solid 1px #ddd;
            }

            .js .nav-menu { display: none; }

            .nav-menu > li { border-bottom: dotted 1px #ddd; }

            .nav-menu > li > a { text-transform: uppercase; }

            .nav-menu a {
               padding: 5px 0;
               display: block;
               color: $gray;
               font-size: 14px;
               font-family: 'AllerBold';
               text-align: center;

               @include transition(all .25s ease);
            }

            .nav-menu a:hover { 
               color: black;
               text-decoration: none;
            }

            .nav-menu > li:hover > a,
            .nav-menu > li > a:hover { background-color: #eee; }         

            /* Submenu */
            .nav-submenu {
               margin: 0;
               padding: 0;
               @include box-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
               border: solid 1px $almostWhite;
               border-top: none;
               z-index: 10;
            }

            .nav-submenu > li > a:hover { background-color: #f5f5f5; }

            .nav-submenu a {
               font-family: Arial,Helvetica,sans-serif;
               font-size: 12px;
               padding: 10px 5px;
            }

            /* Botão para abrir menu mobile */
            .call-menu {
               display: block;
               width: 96%;
               padding: 6px 2%;
               background-color: #eee;
               color: $gray;
               font-size: 14px;
            }

         /* Navegação secundária / terciária (sidebar)
            ========================================================================== */
            .nav-aside,
            .nav-sub-aside {
               margin: 0;
               padding: 0;
               list-style-type: none;
            }

            .nav-aside {               
               border-top: solid 4px $lightGray;
               border-bottom: solid 4px $lightGray;
            }

            .nav-aside li { border-top: solid 1px #ccc; }
            .nav-aside li:first-child { border: none; }

            .nav-aside a {
               display: block;
               padding: 15px 10px;
               text-align: right;
               font-size: 12px;
               @include transition(all .25s ease);
            }

            .nav-aside > li > a {
               font-weight: bold;               
               background-color: $almostWhite;
            }

            .nav-sub-aside a {
               font-style: italic;
               background-color: #fff;
               font-size: 11px;
            }

            .nav-aside a,
            .nav-aside a:hover { color: $gray; }

            .nav-aside a:hover,
            .nav-aside .active > a { 
               background-color: #ccc;
               text-decoration: none;
            }

            .nav-sub-aside a:hover,
            .nav-sub-aside .active > a {
               background-color: #eee;
            }

            .js .nav-sub-aside { display: none; }

            .nav-aside .active .nav-sub-aside { display: block; }

         /* Breadcrumbs
            ========================================================================== */
            .breadcrumbs { margin-bottom: 15px; }
            .breadcrumbs > div {
               display: inline;
               font-size: 12px;
            }

            .breadcrumbs .active {
               cursor: default;
               color: $gray;
            }

            .breadcrumbs .active:hover { text-decoration: none; }

   }

   /*
    * CSS adaptado para dispositivos com resoluções maiores que 767px
    *    Tablets e desktops
    */

   @media only screen and (min-width: $breakpoint) {
      
      /* Header
         ========================================================================== */
         /* Barra local
            ========================================================================== */
            .ie7 .local-bar {
               width: 100%;
               padding-left: 0;
               padding-right: 0;
            }

            .title-bar { 
               float: left;
               line-height: 1.7;
            }

            .title-bar a { margin: 0; }

            .local-info {
               width: 40%;
               max-width: 295px;
               float: right;
            }

            .ie7 .local-info { max-width: 303px; }

            .social {
               float: left;
               padding: 2px 5px 2px 0;
               margin-right: 5px;
               border-right: solid 1px #fff;
            }

            .social a {
               font-size: 16px;
               margin: 0 3px;
            }

            .contact {
               padding-top: 1px;
               margin: 0;
               float: right;
            }

            .contact > i { 
               font-size: 20px;
               margin: 1px 5px 0 0;
            }

         /* Logo
            ========================================================================== */
            .logo { margin-bottom: 20px; }

      /* Footer
         ========================================================================== */
         .vcard {
            float: left;
            margin-top: 8px;
            width: 80%;
            text-align: left;
         }

         .adr { margin-top: 5px; }

         .logo-footer { 
            margin: 0;
            cursor: pointer;
            float: right;
            width: 132px;
         }

      /* Menus
         ========================================================================== */

         /* Navegação primária (menu principal)
            ========================================================================== */
            .js .call-menu { display: none; }
            .js .nav-menu { display: block; }

            .nav-menu { 
               @include clearfix();
               height: 49px; 
               border-bottom: none;           
            }

            .nav-menu > li {
               float: left;
               position: relative;
               border-bottom: none;
            }

            .nav-menu > li:hover .nav-submenu { display: block; }

            .nav-menu > li > a {
               position: relative;
               padding: 15px;               

               background: -moz-linear-gradient(top,  #ffffff 0%, #cccccc 50%, #fefefe 100%);
               background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#cccccc), color-stop(100%,#fefefe));
               background: -webkit-linear-gradient(top,  #ffffff 0%,#cccccc 50%,#fefefe 100%);
               background: -o-linear-gradient(top,  #ffffff 0%,#cccccc 50%,#fefefe 100%);
               background: -ms-linear-gradient(top,  #ffffff 0%,#cccccc 50%,#fefefe 100%);
               background: linear-gradient(to bottom,  #ffffff 0%,#cccccc 50%,#fefefe 100%);

               -webkit-background-size:1px 100%;
                  -moz-background-size:1px 100%;
                    -o-background-size:1px 100%;
                   -ms-background-size:1px 100%;
                       background-size:1px 100%;
               
               background-position: 0 0, 100% 0;
               background-repeat: no-repeat;
            }            

            .nav-menu > li:first-child a { background-image: none; }

            .nav-menu i {
               position: absolute;
               right: 3px;
               top: 18px;
            }

            /* Fallback IE */
            .no-cssgradients .nav-menu a {
               background: transparent url(../../../img/menu-separator.png) center left no-repeat;
            }

            /* Submenu */
            .nav-submenu {
               position: absolute;
               left: -1px;
               top: 47px;
               width: 101%; 
               background-color: #ddd;              
            }

            .js .nav-submenu { display: none; }



   }