/* ==========================================================================
   Tipografia
   ========================================================================== */

   body {
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust:none;
   }

   /* Titulos
      ========================================================================== */

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {}

   /* Textos
      ========================================================================== */

      p,
      ol,
      ul {
         color: #666666;
         font-size: 14px;
         line-height: 20px;
         margin: 0 0 15px;
         text-align: left;
      }

   /* Listas
      ========================================================================== */
      ul,
      dl {
         color: #666;
         font-size: 14px;
      }

   /* Links
      ========================================================================== */
      a { 
         color: blue;
         text-decoration: none;
      }

      a:hover { text-decoration: underline; }

   /* Logo
      ========================================================================== */
      .logo {
         font-size: 32px;
         font-family: 'AllerBold';
         line-height: 1.1;
      }

   /* Barra local do projeto
      ========================================================================== */
      .title-bar {
         font-family: 'AllerBold';
         font-weight: normal;
         text-transform: uppercase;
         font-size: 18px;
         letter-spacing: -1px;
      }

   /* Título principal das página/notícia
      ========================================================================== */
      .title-page {
         font-family: Georgia;
         font-size: 28px;
         line-height: 1.2;
         letter-spacing: -1px;
         margin: 0 0 20px;
      }

   /* Subtítulo (linha fina) da página/notícia
      ========================================================================== */
      .subtitle-page {
         font-size: 18px;
         line-height: 1.2;
         font-style: italic;
         font-family: Arial,Helvetica,sans-serif;
         color: $gray;
         margin: 0 0 20px;
      }

   /* Título de seções (geralmente relacionado a listas de itens)
      ========================================================================== */
      .title-section {
         margin: 0 0 15px 0;
         padding-bottom: 5px;
         font-size: 18px;
         line-height: 1;
         font-family: 'AllerBold';
         font-weight: normal;
         color: $gray;
         border-bottom: solid 1px $lightGray;
      }

      .title-up { text-transform: uppercase; }
      .title-light { font-family: 'AllerRegular'; }
      .title-section.title-big { font-size: 22px; }


      .title-section.title-educacao {
         color: $colorEducacao;
         border-color: $colorEducacao;
      }

      .title-clean {
         border: none;
         padding-bottom: 0;
      }      

      .title-bg {
         background-color: $gray;
         color: #fff;
         padding: 5px 10px;
         text-transform: uppercase;
         font-size: 12px;
         font-weight: bold;
         font-family: Arial,Helvetica,sans-serif;
      }

   /* Blockquotes
      ========================================================================== */
      blockquote {         
         padding: 20px 5px;
         border-top: solid 1px #ccc;
         border-bottom: solid 1px #ccc;         
      }

      blockquote p,
      blockquote {
         color: $gray;
         font-family: Georgia;
         font-style: italic;
         font-size: 18px;
         margin: 0;
         line-height: 1.3;
      }