/* ==========================================================================
   Folha de estilo editável
   ========================================================================== */
   @media only screen {

   /* Tipografia
      ========================================================================== */
      /*
       * Cor do texto dos links
       */
      a { color: #0088CC; }

      /*
       * Cor do texto dos links sob o efeito 'hover'
       */
      a:hover,
      a:focus { color: #005580; }

      /*
       * Cor dos textos em parágrafos e listas ordenadas e não ordenadas
       */
      p,
      ol,
      ul { color: #666; }
      /*
       * Cor do título principal da página/notícia
       */
      .title-page { color: #666; }

      /*
       * Cor do subtítulo (linha fina) da página/notícia
       */
      .subtitle-page { color: #444 }

      /*
       * Cor do texto e da borda dos título de seçôes
       */
      .title-section {
         color: #666;
         border-color: #ccc;
      }

      /*
       * Cor de fundo do título que possui fundo colorido
       */
      .title-bg { background-color: #666; }

      /*
       * Cor do texto dentro da tag 'blockquotes'
       */
      blockquote p,
      blockquote { color: #666; }

      /*
       * Cor da borda do elemento 'blockquote'
       */
      blockquote { border-color: #ccc; }

   /* Header
      ========================================================================== */
      /* Barra local
         ========================================================================== */
         /*
          * Cor de background da barra local do projeto
          */
         .local-bar { background-color: #666; }
         
         /*
          * Cor dos links na barra local
          */
         .local-bar a { color: #fff; }
         
         /*
          * Cor dos links na barra local sob o efeito 'hover'
          */
         .local-bar a:hover { color: #eee; }
         
      /* Logo
         ========================================================================== */
         /*
          * Cor do logo do projeto
          */
         .logo a { color: #ddd; }

         /*
          * Cor do logo sob o efeito 'hover' 
          */
         .logo a:hover { color: #ccc; }

      /* Barra acessibilidade
         ========================================================================== */
         /*
          * Cor dos ícones da barra
          */
         .tools a { color: #666; }

         /*
          * Cor dos ícons da barra sob o efeito 'hover'
          */
         .tools a:hover { color: #333; }

   /* Footer
      ========================================================================== */
      /*
       * Cor de background do rodapé do projeto com as informações sobre
       * a Secretaria da Educação
       */
      .footer-bar { background-color: #666; }
      
      /*
       * Cor do título da Sec. da Educação no rodapé
       */
      .title-footer { color: #fff; }
      
      /*
       * Cor do endereço da Sec. da Educação no rodapé
       */
      .footer-bar address { color: #ccc; }

   /* Menu
      ========================================================================== */
      /* Navegação primaria (menu principal)
         ========================================================================== */
         /*
          * Borda inferior no menu principal
          */
         .navbar { border-color: #666; }
         
         /*
          * Cor dos links no menu principal
          */
         .nav-menu a { color: #666; }

         /*
          * Cor dos links sob o efeito 'hover'
          */
         .navbar a:hover { color: black; }
         
         /*
          * Cor de background dos itens no menu
          * ao passar o mouse
          */
         .nav-menu > li:hover > a,
         .nav-menu > li > a:hover { background-color: #eee; }
         
         /*
          * Cor da borda do submenu no menu principal
          */
         .nav-submenu { border-color: #ddd; }

         /*
          * Cor de background dos itens no submenu
          * ao passar o mouse
          */
         .nav-submenu > li > a:hover { background-color: #fff; }
         
         /*
          * Cor do botão que mostra/esconde o menu mobile
          */
         .call-menu {
            background-color: #eee;
            color: #666;
         }

      /* Navegação secundária / terciária (aside)
         ========================================================================== */         
         /*
          * Cor das bordas superior e inferior no menu lateral
          */
         .nav-aside { border-color: #999; }

         /*
          * Cor dos textos dos links dos itens no menu lateral
          */
         .nav-aside a { color: #666; }

         /*
          * Cor dos textos dos links dos itens no submenu menu lateral
          */
         .nav-sub-aside a { color: #666; }

         /*
          * Cor de background dos itens no menu lateral
          */
         .nav-aside > li > a { background-color: #f5f5f5; }
         
         /*
          * Cor da borda dos itens do menu lateral
          */
         .nav-aside > li,
         .nav-sub-aside > li { border-color: #bbb; }
         
         /*
          * Cor de background dos itens do submenu no menu lateral
          */
         .nav-sub-aside a { background-color: #fff; }
         
         /*
          * Cor de fundo e do texto dos itens no menu lateral sob o
          * efeito 'hover' e quando o item está ativo
          */
         .nav-aside a:hover,
         .nav-aside .active > a,
         .nav-aside > .current-menu-item > a,
         .nav-aside > .current-page-item > a,
         .nav-aside > .current-menu-ancestor > a,
         .nav-aside > .current-menu-parent  > a{
            background-color: #ccc;
            color: #333;
         }
         
      /* Breadcrumbs
         ========================================================================== */
         /*
          * Cor dos links nos breadcrumbs
          */
         .breadcrumbs a { color: #0088cc; }

         /*
          * Cor da página ativa no breadcrumb
          */
         .breadcrumbs .active { color: #666; }

      /* Barra local
         ========================================================================== */

   /* Listas
      ========================================================================== */
      /*
       * Cor dos textos e links das listas
       */
      .list li,
      .list li > a { color: #666; }
      
      /*
       * Cor dos links sob o efeito 'hover'
       */
      .list li > a:hover { color: #333; }

      /*
       * Cor do texto do nome da categoria na lista de categorias
       */
      .list .category-name { color: #666; }


      /*
       * Cor de fundo e do texto da 'etiqueta' que pode indicar tanto a categoria
       * ou a data do post/item
       */
      .list .label {
         background-color: #666;
         color: #fff;         
      }
      
      /*
       * Cor de fundo e do texto da 'etiqueta' sob o efeito 'hover', caso o item
       * anterior seja um  link
       */
      .list a.label:hover {
         background-color: #333;
         color: #fff;
      }

      /*
       * Cor da borda do elemento que representa a data do post/item
       * em uma lista
       */
      .post-date {         
         border-color: #ccc;
      }
      
      /*
       * Cores do texto que identificam o dia e mês respectivamente do elemento
       * que representa a data do post/item em uma lista
       */
      .post-date .day { color: #666; }
      .post-date .month { color: #666; }
      
      /*
       * Cor do texto e de fundo do elemento que representa o tipo de arquivo
       * em uma lista de arquivos
       */
      .file-type {
         color: #fff;
         background-color: #666;
      }   

   /* Formulários
      ========================================================================== */
      /*
       * Cor do aviso de campos obrigatórios em um formulário
       */
      .fields-required { color: #666; }

      /*
       * Cor do '*' nos campos obrigatórios
       */
      .required { color: #333; }
      
      /*
       * Cor da borda dos elementos 'input', 'select' e 'textarea' nos formulários
       */
      .input,
      .select,
      .textarea,
      .form-search .input { border: solid 1px #ccc; }
      
      /*
       * Cor do texto dos elementos 'input', 'select' e 'textarea' nos formulários
       */
      .input,
      .select,
      .textarea,
      .label-check { color: #666; }

      /*
       * Cor da borda do elemento input no formulário de busca
       */
      .form-search .input { border-color: #c2c3c4; }

   /**/
   }