<!doctype html>
<!--[if IE 7]>    <html class="no-js ie7" lang="pt-br">     <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="pt-br">     <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="pt-br">     <![endif]-->
<head>
   <title> {% if page.title %} {{ page.title }} | {% endif %} Guia de Estilos - Educação SP</title>
   <!-- Meta -->
   <meta charset="utf-8">
   {% include meta.html %}
   <!-- CSS -->
   {% include estilos.html %}
</head>
<body class="homepage">
   
   <!-- Header -->
   {% include header.html %}

   <div class="container">

      {{ content }}

   </div>

   <p class="text-center"><small>Melhor visualizado nos navegadores Chrome, Firefox, IE <strong>+9</strong> e Safari.</small></p>

   <!-- Footer -->
   {% include footer.html %}

   <!-- Scripts -->
   {% include scripts.html %}
</body>
</html>
